.App {
  font-family: sans-serif;
  text-align: left;
}

body, .root{
  background-color: lightgrey;
  margin: 0;
  padding: 2rem;
}

.container{
}

.bootsSection{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Sport{
  
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cart{
  background-color: grey;
  width: 25rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 2;
}
.innerCart{
  display: flex;
  justify-content: space-between;
}
.grid{
  display: grid;

}

.gridItem{
  height: 40rem;
}
.gridItem button{
  position: relative;
  width: 8rem;
  height: 3rem;
  top: 15%;
  left: 75%
}

.cat{
  background-color: grey;
  width: 10rem;
  height: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}